################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/RunData/v16
/packages/Newtonsoft.Json.13.0.1
/RunData/obj
/RunDataLibrary/bin/Debug
/RunDataLibrary/obj
/RunData/bin/Debug
/.vs/RunData/DesignTimeBuild
